/* Vertical Navbar Container */
.right-navbar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 60px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  z-index: 1000; /* Keeps it on top of map */
}

/* Navigation Item (Icon/Button) */
.nav-item {
  color: #fff; /* Default icon color */
  font-size: 24px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  padding: 10px;
  border-radius: 50%;
}

/* Hover Effect */
.nav-item:hover {
  color: #ffcc00; /* Icon color on hover */
}

/* Active Item */

/* Nav Icon */
.nav-icon {
  width: 24px;
  height: 24px;
  fill: black; /* Default icon fill */
}

/* Nav Icon Hover */
.nav-item:hover .nav-icon {
  fill: gray; /* Icon hover fill effect */
}
